<header class="mt-2 border-bottom border-dark pb-2">
    <a href="#!/setting" class="btn btn-info">
        <div class="mainBtns" id="settingDiv">
            <i class="fas fa-cog" aria-hidden="true"></i> 
        </div>
    <a>

    <div id="expDiv" ng-click="export()" class="btn btn-success">  
        <span id="exS"> <i class="fas fa-clipboard-list"></i> Export List</span>
    </div> 

</header> 
        
<center>
    
  <label for="searchInp" class="h3 mt-4">Search : </label>
  <input id="searchInp" ng-model="inps" class="form-control col-9 col-md-6"/>
    
  <div id="mainDiv" class="mt-3">
      <div  id="itemsDiv" ng-repeat="item in items| filter: inps track by $index" class="border-bottom border-dark pb-4 col-12 col-md-7">
          <p class="itemsP lead" ng-bind="item" ></p> 
          <!-- Edit button -->
          <button class="eB btn mx-2" ng-click="edit(item)" >
             <i style="color: #979800;" class="far fa-edit" aria-hidden="true"></i>
          </button>
          <!-- Delete button -->
          <button class="dB btn mx-2" ng-click="del(item)">
              <i style="color : #ff6161;" class="far fa-minus-square" aria-hidden="true"></i>
          </button>
      </div> 
  </div>
  <button id="addItem" ng-click="add()" class="btn btn-success mt-3">
      Add <i class="far fa-plus-square" aria-hidden="true"></i>
  </button>          

 

</center>
        
<footer class="fixed-bottom">
    <a href="https://www.github.com/baselakasha/angular_List"> Codes (Github)</a> <br />
    <a href="https://github.com/baselakasha/angular_List/blob/master/README.md">Terms of service</a>
</footer>