<a href="#!/" id="settingBack" class="btn btn-info mt-2 ml-2">
	<i class="fas fa-chevron-circle-left" aria-hidden="true"></i>
</a>

<div id="chFiNa" class="container mx-auto" align="center">         
          <h3 class="h3">Export File Name :</h3>  
               
          <input id="defaultRadio" type="radio" name="efnMethod" value="0" ng-model="efn" ng-change="efnChange()" ng-checked="check0">
            
          <label id="defLeb" class="h5">Default Name : </label> 
          <div class="input-group col-6 col-md-4" align="center">
              <input type="text" id="dfnInp" ng-model="dfn" class="form-control" placeholder="Default name" aria-label="defaultname" aria-describedby="basic-addon2">
              
              <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">.txt</span>
              </div>
          </div>
    
                   
          <input id="askMe" type="radio" name="efnMethod" value="1" ng-model="efn" ng-change=" efnChange()" ng-checked="check1">
          <label for="askMe" class="h5">Ask me every time</label>
         
</div>
